
.tablegroup {
  padding-top: 4px;
  padding-bottom: 4px;
}

table, th, td {
  border: 2px solid black;
  font-family: 'Bangers', cursive;
  font-size: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.center{
  margin: auto;
}

.botom-edit{
  border: 4px solid black;
  border-radius: 0% 0% 70% 70%;
}

.invisible{
  visibility: hidden
}

.btn-transp{
  background-color: transparent;
  margin: 0% auto;
  align-items:center;
  height:inherit;
  width: inherit;
}

.group-table th:nth-of-type(1),
.group-table td:nth-of-type(1){
  background-color: blue;
   width: 1rem; 

   align-items:center;
   justify-content:center;
}



.group-table th:nth-of-type(2),
.group-table td:nth-of-type(2){
  background-color: chartreuse;
  width: 50rem;

  display:flex;
  /* flex-grow:1; */
  /* centering the button */
  align-items:center;
  justify-content:center;
  
} 

.group-table th:nth-of-type(3),
.group-table td:nth-of-type(3){
  background-color: yellow;
  width: 4rem;

  align-items:center;
  justify-content:center;
}

.group-table th:nth-of-type(4),
.group-table td:nth-of-type(4){
  background-color: orange;
  width: 10rem;

  align-items:center;
  justify-content:center;
}

/* hide and disable in edit mode */

.edit-new-form{
  visibility: visible;
}


.edit-disable-btn{
  cursor: default;
  pointer-events: none;        
  text-decoration: none;
  background-color: grey;
}

.paneldate{
  position: absolute;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: rgb(204, 232, 233);
  border: none;
  border-radius: 15px 50px 30px;
  font-size: 23px;
}



.red{
  color:darkred;
}

img{
  width: 80px;
}

h1{
  font-family: 'Courgette', cursive;
  font-size: 50px;
  text-align: center;
}