<%- include('../partial/header'); -%>
<%- include('../partial/navbar'); -%>


<div class="container">
    <h2>Wspólnota Żywego Różańca Św. Kalendarz na rok 2021</h2>         
    <table class="table">
      <tbody>
        <tr>
          <td>Nr Róży. wezwanie zelator</td>
          <% heders.forEach(function(heder){ %>
            <td><%=heder%></td>
          <% }); %>
        </tr>
      </tbody>
    </table>
    <form action="/harmonogram" method="post">
      <input type="submit" value="Zsynchronizuj">
    </form>
  </div>
  

<%- include('../partial/footer'); -%>
